* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    line-height: 1.5s;
}
.para{
    background-image: url('/bg1.webp');
    height: max-content;
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
    padding: 50px;
    font-variant: small-caps;
    font-size: 100px;
    letter-spacing: 20px;
    font-family: 'Poppins', sans-serif;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.menu{
    background: #184d47;
    text-align: center;
}
.menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
}
.menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 26px 26px 25px;
}
.a-menu{
    text-decoration: none;
    color: white;
}
.menu-ul li:hover{
    background: #5b8c5a;
    transform: scale(1.1);
}
.search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
}
.search-box:hover{
    box-shadow: 0 0 10x 2px #5b8c5a;
    border: 1px solid #5b8c5a;
}
.search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 16px 10px 10px 10px;

}
a{
    text-decoration: none;

}
.container{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    flex: 3 3 10rem;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    flex-direction: column;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    padding: 10px 20px;
    align-self: normal;
}
.card img{
    max-width: 200px;
} 
.card h4{
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 10px 0;
}
.card p{
    margin-bottom: 10px;
}
.card .btn{
    display: inline-block;
    margin-top: auto;
    background: green;
    color: white;
    text-align: center;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    --webkit-border-radius: 5;
    --moz-border-radius: 5;
    --ms-border-radius: 5;
    --o-border-radius: 5;
}
/* NAVIGATION AND FOOTER STYLE */

